.inputWidth {
    width: 3rem;
}

.login-form {
    width: 3rem;
    margin: 0 auto !important;
    height: .2rem;
}

.login-form-button {
    width: 100%;
}

.login-register {
    display: inline-block;
    margin-bottom: 12px;
}