.add-container {
    width: 3.5rem;
    padding: .1rem;
    margin: 0 auto;
}

.search-person {
    width: 3rem;
    margin: 0 auto;
    margin-top: .05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}