.add-container {
    height: 100%;
    background-color: rgb(240, 239, 245);
}

.search-person {
    margin: 0 auto;
    margin-top: .05rem;
    position: relative
}

.add-button {
    position: absolute;
    bottom: .22rem;
    right: .15rem;
}

.delete-friReq {
    position: absolute;
    bottom: .22rem;
    right: 1rem;
}